<div class="container">
  <ul>
    <li><a href="#single"></a></li>

  </ul>
  <div id="single">
    <button (click)="toggle()">Toggle </button>
    <table>
      <thead>
        <tr>
          <th>header 1</th>
          <th>header 2</th>
          <th>header 3</th>
        </tr>
      </thead>
      <tbody>
         <tr *ngFor="let row of range(16); let rowIndex = index">
           <ng-container *ngFor="let cell of range(12); let i = index">
             <td
               *ngIf="show(i)"
               [tabIndex]="-1"
             >
               Cell{{rowIndex + ' - ' + i }
               }</td>
           </ng-container>

         </tr>
      </tbody>
    </table>
  </div>
</div>
